/* Center the login-container with margin and set width/height for the login-box */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 840px;  /* Set width to 500px */
    height:400px; /* Set height to 500px */
    margin-top: 80px;  /* Add margin at the top to push it down */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .login-box .login-image-container {
    flex: 1;
    background-image: url('../images/background.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  
  .login-box .login-form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  /* Stack form elements vertically */
    background-color: white;
    padding: 20px;
  }
  
  .login-form {
    width: 100%;
    max-width: 350px;
    margin: 0;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  color: #000;
  text-align: center;
  font-size: 29px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 93%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
  }
  
  .icon {
    margin-right: 8px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .login-button {
    background-color: #007bff;
    color: white;
  }
  
  .register-button {
    background-color: #28a745;
    color: white;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  
  .register-button:hover {
    background-color: #218838;
  }
  
  /* Move the "Don't have an account? Sign up" to the bottom */
  .sign-up-text {
    color: #007bff;
    cursor: pointer;
    text-align: center;
    margin-top: auto;  /* Push it to the bottom */
  }
  
  .sign-up-text span {
    text-decoration: underline;
  }
  